/*Navigation*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/*Home section*/
#Home{
    height: 370px;
    padding: 3px 68px;
}
#Home::before{
    height: 400px;
}
#Home p{
    font-size: 13px;
}
/*services section*/
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
/*Client section*/
#client-section{
flex-wrap: wrap;
}
#client img{
    height: 10px;
    width: 20px;
    padding: 6px;
}
/*contact us section*/
#contact-box form{
    width: 80%;
}
/*footer*/
/*Utility classes*/
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 18px;
}